<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <form novalidate (ngSubmit)="submitPayment()" [formGroup]="donationForm">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput
                                       placeholder="Description"
                                       [formControl]="donationForm.controls[FormsContract.Donation.DESCRIPTION]"
                                />

                                <mat-error *ngIf="donationForm.controls[FormsContract.Donation.DESCRIPTION].invalid">
                                    This field must be no more than {{ PaymentConstants.MAX_TEXT_LENGTH }} characters
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput
                                       placeholder="Amount"
                                       type="number"
                                       class="example-right-align"
                                       [formControl]="donationForm.controls[FormsContract.Donation.AMOUNT]"
                                />
                                <span matPrefix>$&nbsp;</span>
                                <span matSuffix>.00</span>

                                <mat-error *ngIf="donationForm.controls[FormsContract.Donation.AMOUNT].invalid">
                                    Amount must be from {{ PaymentConstants.Amount.MIN }} to {{ PaymentConstants.Amount.MAX }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <br/>

                    <stripe-card #stripeCard
                                 [paymentErrorMessage]="cardErrorMessage"
                                 (hasError)="cardError($event)"
                    ></stripe-card>

                    <br/>
                    <br/>

                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-primary btn-block"
                                    type="submit"
                                    mat-button
                                    [disabled]="donationForm.invalid || (isFormHasError | async) || (isInProcessing | async)"
                            >
                                <span *ngIf="!(isInProcessing | async)">
                                    Submit Payment $ <span class="amount">{{donationForm.get(FormsContract.Donation.AMOUNT).value}}</span>
                                </span>
                                <span *ngIf="isInProcessing | async">Please wait...</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
