.checkbox-set {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
    padding-bottom: 5px;

    .items-list {
        display: flex;
        margin: 0;

        mat-checkbox {
            margin-right: 15px;
        }
    }
}
